<!-- frontend/templates/shared/sidebar.html -->

{% block extra_css %}
<link rel="stylesheet" href="/static/css/layout/sidebar.css">
{% endblock %}

<aside class="sidebar">
  <div class="side-inner">
    <div class="profile">
      {% if user.Image %}
      <img src="{{ '/' + user.Image.replace('\\', '/') }}" alt="Image" class="img-fluid">
      {% else %}
      <div class="avatar-placeholder">
        {{ (user.FirstName or '')[:1] }} <!-- First letter of first name -->
      </div>
      {% endif %}

      <h3 class="name">
        {%- set name_parts = [user.FirstName, user.MiddleName, user.LastName] | selectattr("strip") | list -%}
        {{ name_parts | join(' ') }}
      </h3>

      {% if user.Address %}
      <span class="country">{{ user.Address }}</span>
      {% endif %}
    </div>

    <div class="nav-menu">
      <ul class="nav flex-column sidebar-menu">

        <!-- Resume Dropdown -->
        <!-- Resume Dropdown -->
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            href="#resumeMenu" role="button" aria-expanded="false">
            <span><i class="fas fa-file-alt me-2"></i>Resume</span>
            <span class="menu-arrow">&#9662;</span>
          </a>
          <ul class="collapse list-unstyled ps-3" id="resumeMenu">
            <li><a class="nav-link submenu-link" href="/resume/manage">
                <i class="fas fa-edit me-2"></i>Manage Resume
              </a></li>
          </ul>
        </li>

        <!-- Email Dropdown -->
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            href="#emailMenu" role="button" aria-expanded="false">
            <span><i class="fas fa-envelope me-2"></i>Email</span>
            <span class="menu-arrow">&#9662;</span>
          </a>
          <ul class="collapse list-unstyled ps-3" id="emailMenu">
            <li><a class="nav-link submenu-link" href="/email/compose-email">
                <i class="fas fa-pen me-2"></i>Compose Email
              </a></li>
            <li><a class="nav-link submenu-link" href="/email/inbox">
                <i class="fas fa-inbox me-2"></i>Inbox
              </a></li>
          </ul>
        </li>

        <!-- Other Nav Items -->
        <li class="nav-item">
          <a class="nav-link" href="/job/list" id="findJobButton">
            <i class="fas fa-briefcase me-2"></i>Find Jobs
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/resume/rag" id="findCandidateButton">
            <i class="fas fa-users me-2"></i>Find Candidates
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-compass me-2"></i>Explore
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-bell me-2"></i>Notifications
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-comment me-2"></i>Direct
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-chart-bar me-2"></i>Stats
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link logout-link" href="javascript:void(0);" id="logoutButton">
            <i class="fas fa-sign-out-alt me-2"></i>Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>


{% block extra_js %}
<script src="/static/js/layout/sidebar.js"></script>
<script src="/static/js/user/logout.js"></script>
{% endblock %}