# Ignore Python cache and virtual environment folders
__pycache__/
*.py[cod]
*.log

# Ignore environment and secrets
.env
*.env

# Ignore local SQLite or database files
*.db

# Ignore the virtual environment folder
venv/

# Ignore system or IDE-specific files
.DS_Store
.vscode/
.idea/

# Ignore pdf and docx files
*.pdf
*.docx
*.png

# Ignore all files in the uploads folder
uploads/*

# Except for the .gitkeep file
!uploads/.gitkeep