/* frontend\static\css\shared\password-toggle.css */

.password-wrapper {
    position: relative;
}

.password-wrapper .form-control {
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    top: 74%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    z-index: 10;
}
